body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  color: #45484a;
  margin: 0;
}

html {
    font-size: 62.5%;
}

/*header*/
.header__offset_top {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}
.header {
  &__navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 4rem;
    &_link {
      width: 350px;
      display: flex;
      justify-content: center;
      margin-right: 2rem;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      color: #07060f;
      text-decoration: none;
      position: relative;
    }
  }
}

.burger {
  position: absolute;
  top: 2px;
  left: -0rem;
  span {
    display: block;
    height: 3px;
    margin-bottom: 4px;
    width: 18px;
    background-color: #1b2ecc;
    position: relative;
    border-radius: 20px;
    &:before {
      position: absolute;
      width: 3px;
      height: 3px;
      content: '';
      left: -5px;
      background-color: #1b2ecc;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header__navbar_link.active {
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #1b2ecc;
    bottom: -4.6rem;
  }
}

.header__navbar_navigation {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.btn {
  display: block;
  padding: 17px 39px 17px 36px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-radius: 66px;
  background-color: #1b2ecc;
  font-family: 'Roboto Bk', sans-serif;
}

.slider__item {
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  min-height: 885px;
  display: flex;
  position: relative;
  outline: none;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.slider__item_subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.button_center {
  display: flex;
  height: 100%;
  align-items: center;
}
.button_border {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header__logo {
  display: block;
  padding-top: 2rem;
}

.header__navbar {
  padding-top: 2px;
}

.header__list {
  display: flex;
  height: 100%;
}

.slider__item_title {
  max-width: 530px;
  width: 100%;
  position: relative;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  &:before {
    position: absolute;
    content: '';
    width: 110px;
    top: -7rem;
    height: 3px;
    background-color: #ffffff;
  }
}

.slider__image {
  top: 0;
  position: absolute;
  right: 2rem;
}

.slick-dots li {
  list-style-type: none;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
  button {
    border: none;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.14;
    font-size: 0;
    border-radius: 50%;
  }
}
.slick-dots .slick-active {
  button {
    background-color: transparent;
    border: 3px solid #fff;
    opacity: 1;
    width: 18px;
    height: 18px;
    outline: none;
  }
}


ul.slick-dots {
    position: absolute;
    bottom: 13rem;
    left: 10%;
    display: flex !important;
    padding-left: 0;
    transform: translateX(-10%);
}
.slider__item_wrapper {
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}