body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  color: #45484a;
  margin: 0;
}

html {
    font-size: 62.5%;
}

/*header*/

.header {
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &_link {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      color: #07060f;
      text-decoration: none;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 7rem;
      }
    }
  }
}

.thing__item_list {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  position: relative;
  &:before {
    transition: all 0.5s ease;
    position: absolute;
    content: '';
    border-right: 2px solid #1b2ecc;
    border-bottom: 2px solid #1b2ecc;
    width: 9px;
    height: 9px;
    right: 2rem;
    transform: rotate(-45deg);
    opacity: 0;
  }
}

.thing__item_reset  {
  &:before {
    display: none;
  }
}


.section__thing_offset {
  margin-top: 8rem;
}

.reviews-slider {
  /* the slides */
  .slick-slide {
      margin: 0 10px;
  }
  /* the parent */
  .slick-list {
      margin: 0 -10px;
  }
}

.section_reviews {
  background-color: #f3f3f3;
}

.reviews-slider_list {
  display: flex;
  justify-content: space-between;
}

.comments {
  display: flex;
  align-items: center;
  .image {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
  }
  &__number {
    color: #c4c4c4;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
  }
}

.reviews-slider__subtitle {
    min-height: 97px;
}

.reviews-slider__item {
  background-color: #fff;
  padding: 4.5rem 3.2rem 3.8rem 3.6rem;
}

.catalog__item_basket {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b2ecc;
}

.section__thing_offset {
  margin-bottom: 11rem;
}

.reviews__row {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.reviews__left {
  display: flex;
  align-items: center;
}

.section_reviews-offset {
  padding-bottom: 10rem;
  padding-top: 8rem;
  .btn_blue {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.reviews__row {
  margin-bottom: 3.5rem;
}

.header-mobile__col {
  display: flex;
  justify-content: space-between;
}

.reviews__left {
  .title {
    margin-bottom: 0;
    margin-top: 0;
  }
}


.toggler__content {
  display: none;
}

.header-mobile {
  display: none;
}

.icon_insta {
  width: 16px;
  height: 16px;
  fill: #1b2ecc;
}

.footer_number {
  color: #000000;
  font-family: "Roboto - Black";
  font-size: 2rem;
  font-weight: 400;
}

.footer_social {
  color: #000000;
  font-size: 17px;
  display: flex;
  align-items: center;
  font-weight: 700;
  svg {
    margin-right: 1rem;
  }
}

.footer_offset {
  padding-top: 7rem;
  padding-bottom: 8rem;
}

.footer__navbar_link {
  color: #383a3c;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer__addr {
  color: #000000;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
}

.border_top {
  padding-top: 3rem;
  border-top: 1px solid #f3f3f3;
}

.slick-slide {
  outline: none;
} 

a {
  outline: none;
}

.footer__list_link {
  opacity: 0.61;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;

}

.footer__navbar {
  .footer__list_link {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer_offset_bottom {
  margin-bottom: 7rem !important;
}

.wf_height {
  height: 100%;
  display: flex;
  align-items: center;
}

.wf_link {
  opacity: 0.61;
  color: #000000;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.title_offset-bottom {
  margin-bottom: 5rem;
}

.footer__content_offset-top {
  margin-top: 2.5rem;
}

.footer__navbar {
  display: flex;
  flex-direction: column;
}

.section_catalog {
  padding-top: 8rem;
  padding-bottom: 11rem;
  background-color: #dee6e8;
}

.reviews__left {
  .btn {
    margin-left: 6rem;
  }
}

.catalog__item_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2.6rem 4rem 2.6rem;
  background-color: #ffffff;
}

.assessment__button {
  margin-top: 7rem;
  display: flex;
}

.assessment__subtitle p {
  margin: 0;
}

.wrapper_height {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.assessment.assessment_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.assessment__subtitle {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 500;
}

.catalog__item_subtitl p {
  margin: 0;
}

.btn_size {
  font-size: 1.6rem;
  padding: 1.9rem 3.5rem 1.9rem 3.6rem !important;
}

.section_assessment {
  min-height: 550px;
  position: relative;
}

.assessment__title {
  color: #ffffff;
  margin-top: 0;
  font-family: "Roboto - Black";
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 400;
}

.icon_iron {
  width: 22px;
  height: 20px;
  fill: #fff;
}

.catalog__item_subtitl {
  margin-bottom: 2rem;
  color: #171717;
  font-size: 20px;
  font-weight: 700;
  p {
    line-height: 1.3;
  }
}

.catalog__item_imgae {
  overflow: hidden;
  display: flex;
}

.catalog__select {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 400px
  }
}

.catalog__select {
  display: none;
}

.catalog__title_list {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.catalog__tabs_link {
  color: #000000;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
}

.tab {
  display: none !important;
}

.tab.active {
  display: flex !important;
}

.catalog__tabs_link.active {
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background-color: #fff;
  border-radius: 25px;
}

.icon_basket {
  width: 25px;
  height: 22px;
  fill: #ffffff;
}

.catalog__item_price {
  span {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    font-family: "Roboto - Black";
    line-height: 28px;
  }

}

.thing__item:hover {
  .thing__item_number {
    transition: all 0.5s ease;
    color: #1b2ecc;
  }
  .thing__item_title {
    transition: all 0.5s ease;
    color: #1b2ecc;
  }
  .thing__item_list:before {
    transition: all 0.5s ease;
    opacity: 1;
  }
}

.thing__item_number {
  transition: all 0.5s ease;
  color: #c4c4c4;
  font-size: 32px;
  margin-right: 1.5rem;
  font-weight: 900;
  font-family: 'Roboto - Black';
}

.thing__item_title {
  transition: all 0.5s ease;
  margin: 0;
}

.thing__item_subtitle {
  padding-left: 5.2rem;
  p {
    margin: 0;
  }
}

.title {
  color: #171717;
  font-family: "Roboto - Black";
  font-size: 32px;
  font-weight: 400;
}

.reviews-slider__title {
  margin-bottom: 1.5rem;
  margin: 0;
  color: #171717;
  font-size: 20px;
  font-weight: bold;
}

.revuews-slider__subtitle {
  color: #171717;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.reviews__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_com {
  width: 15px;
  height: 16px;
}

.arrow-l {
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 1rem;
  position: relative;
  &:before {
    position: absolute;
      transition: all 0.5s ease;
    top: 55%;
    left: 42%;
    content: '';
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 9px;
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
    height: 9px;
  }
}

.reviews__right {
  display: flex;
}

.arrow-r:hover {
    transition: all 0.5s ease;
  background-color: #032ad1;
  &:before {
      transition: all 0.5s ease;
    border-color: #adb6de
  }
}

.arrow-l:hover {
    transition: all 0.5s ease;
  background-color: #032ad1;
  &:before {
      transition: all 0.5s ease;
    border-color: #adb6de
  }
}


.arrow-r {
    transition: all 0.5s ease;
  cursor: pointer;
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: relative;
  &:after {
    transition: all 0.5s ease;
    position: absolute;
    top: 30%;
    right: 7px;
    content: '';
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 9px;
    transform: rotate(-45deg) translateX(-100%) translateY(-50%);
    height: 9px;
  }
}

.thing__item_title {
  color: #000000;
  font-family: "Roboto - Black";
  font-size: 22px;
  font-weight: 400;
}

.burger {
  position: absolute;
  top: 2px;
  left: -4rem;
  span {
    display: block;
    height: 3px;
    margin-bottom: 4px;
    width: 18px;
    background-color: #1b2ecc;
    position: relative;
    border-radius: 20px;
    &:before {
      position: absolute;
      width: 3px;
      height: 3px;
      content: '';
      left: -5px;
      background-color: #1b2ecc;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header__navbar_link.active {
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #1b2ecc;
    bottom: -4.6rem;
  }
}

.header__navbar_navigation {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.catalog__item_basket {
  transition: all 0.5s ease;
}

.catalog__item_basket:hover {
  transition: all 0.5s ease;
  color: lighten(#1b2ecc, 8%);
}

.catalog__tabs_link {
  transition: all 0.5s ease;
}

.catalog__tabs_link:hover  {
  transition: all 0.5s ease;
  color: lighten(#1b2ecc, 8%);
}

.footer__list_link {
  margin-right: 2.6rem;
  &:last-child {
    margin-right: 0;
  }
}

.footer__navbar_link {
  transition: all 0.5s ease;
}

.footer__navbar_link:hover {
  transition: all 0.5s ease;
  color: lighten(#1b2ecc, 8%);
}


.btn {
  white-space: nowrap;
  display: block;
  padding: 1.6rem 2.5rem 1.6rem 2.6rem;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-radius: 66px;
  background-color: #1b2ecc;
  font-family: 'Roboto Bk', sans-serif;
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
    background-color: lighten(#1b2ecc, 8%);
  }
}

.slider__item {
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  min-height: 885px;
  display: flex;
  position: relative;
  outline: none;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.slider__item_subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.button_center {
  display: flex;
  height: 100%;
  align-items: center;
}
.button_border {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header__logo {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.header__navbar {
  padding-top: 2px;
}

.header__list {
  display: flex;
  margin-left: 4rem;
  height: 100%;
}

.header__navbar_link {
  &:hover {
    color: #1b2ecc
  }
}

.internal-height {
  min-height: 73.3rem;
}

.internal-title {
  color: #ffffff;
  font-family: "Roboto - Black";
  font-size: 6rem;
  font-weight: 400;
  line-height: 6.8rem;
}

.slider__item_title {
  max-width: 547px;
 font-family: "Roboto - Black";
  width: 100%;
  position: relative;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  &:before {
    position: absolute;
    content: '';
    width: 110px;
    top: -7rem;
    height: 3px;
    background-color: #ffffff;
  }
}

.categories__list {
  .circle {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    background-color: #f8f8f8;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 2px solid #d9d9d9;
    }
  }
}

.title-internal_offset {
  margin-bottom: 4rem;
}

.categories__title {
  margin: 0;
  color: #1b1b1b;
  font-size: 2.4rem;
  font-weight: 700;
}

.categories__list_link {
  color: #171717;
  font-size: 1.8rem;
  font-weight: 700;
}

.slider__content {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 100%;
    transform: translateX(-100%);
}

.slick-dots li {
  list-style-type: none;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
  button {
    border: none;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.14;
    font-size: 0;
    border-radius: 50%;
  }
}
.slick-dots .slick-active {
  button {
    background-color: transparent;
    border: 3px solid #fff;
    opacity: 1;
    width: 18px;
    height: 18px;
    outline: none;
  }
}

.toggler.close {
  padding-top: 0;
  .header-mobile__row {
    display: none;
  }
}

.header-mobile__mask.active {
  .header-mobile_column {
    padding-top: 0;
  }
}

.header-mobile_arrow {
  position: relative;
  &:before {
    content: '';
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 8px;
    border-color: transparent transparent transparent #07060f;
  }
}

.header-mobile__head {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #07060f;
  font-family: "Roboto - Black";
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  .arrow {
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 1rem;
    height: 1rem;
    border-style: solid;
    border-width: 4.5px 8px 4.5px 0;
    border-color: transparent #07060f transparent transparent;
  }
}

.header-mobile__head {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header-mobile_column.close {
  display: none;
}

.header-mobile__mask {
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.header-mobile__mask.active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

ul.slick-dots {
    position: absolute;
    bottom: 13rem;
    left: 10%;
    display: flex !important;
    padding-left: 0;
    transform: translateX(-10%);
}
.slider__item_wrapper {
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.icon_star-transparent{
  width: 22px;
  height: 23px;
  fill: #1b2ecc;
}

.hamburger  {
  padding: 0 !important;
}

.header-mobile_column  {
  display: flex;
  flex-direction: column;
}

.input_default {
  width: 100%;
  height: 4.7rem;
  border-radius: 1rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  border: 0.1rem solid #e5e6e9;
  background-color: #fbfbfb;
}

.search__loop {
  .icon_loop {
    position: absolute;
    width: 1.9rem;
    height: 1.9rem;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
  }
}

.header-mobile__search {
  position: relative;
  input {
    padding-right: 6rem;
  }
}

.header-wrapper {
  background-color: #f8f8f8;
}

.header-mobile_column {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-mobile_border {
  border-bottom: 1px solid #eceae9;
}

.header-mobile_border-top {
  margin-top: 2rem;
  border-top: 1px solid #eceae9;
}

.mobile-column {
  display: flex;
  flex-direction: column;
}

.header__dropdown_link{
  display: block;
}

.header__navbar_hover {
  cursor: pointer;
}

.header__navbar {
  position: relative;
}

.header__dropdown_box {
  border-top: 1px solid #f0f0f0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-right: 2px solid  #d9d9d9;
    border-bottom: 2px solid  #d9d9d9;
    right: 2rem;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
}

.header__dropdown_link {
  padding-right: 2rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #383a3c;
  display: flex;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  padding-left: 2rem;
  letter-spacing: 0.08rem;
  &:hover {
    color: #1b2ecc
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.wf_height {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.select2-container--default .select2-results__option[aria-selected=true]  {
  background-color: #1b2ecc !important;
  color: #fff;
}

.section_catalog {
  .select2-container .select2-selection--single {
    height: 4rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
    right: 8px;
  }
  .catalog__select .select2-container--default .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
  }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 500;
  height: 4rem;
}

.slider-leaders {
    border: none !important;
  .product-list_col {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
}

.section_assessment {
  background-attachment: fixed;
  background-size: cover;
}

.header__navbar_widget.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-57%) translateY(0);
  transition: all 0.5s ease;
}

.header {
  z-index: 5;
  position: relative;
}

.card-slider__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__prop, .card__value {
    margin-bottom: -.31em;
    background: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    color: #0b1016;
}
.card__prop {
    float: left;
    padding-right: 10px;
}

.card__list:after {
    display: table;
    clear: both;
    content: '';
}

.card__content_title {
  font-size: 4rem;
  font-weight: 900;
  color: #1b1b1b;
}

.card__list {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2.5rem;
    border-bottom: 1px dotted #cacaca;
}

.card__content_price {
  font-size: 3.6rem;
  font-weight: 900;
  color: #1b1b1b;
}

.card__content_row {
  display: flex;
  margin-top: 8.2rem;
}

.card__content_price {
  margin-right: 6rem;
}

.card__content_subtitle {
  max-width: 600px;
  width: 100%;
  font-size: 16px;
  margin-top: 9rem;
  font-weight: 500;
  color: #090909;
}

.card-slider-nav {
  max-width: 420px;
  width: 100%;
  .card-slider-nav__img {
    border: 2.0px solid transparent;
  }
  .card-slider-nav__img {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-current {
    .card-slider-nav__img {
      border: 2.0px solid #1b2ecc;
    }
  }
  /* the slides */
  .slick-slide {
      margin: 0 10px;
  }
  /* the parent */
  .slick-list {
      margin: 0 -10px;
  }
}

.card__content_btn {
  .btn_transparent {
    width: 153px;
    text-align: center;
    height: 58px;
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #1b1b1b;
    background-color: transparent;
    border: 2.0px solid #1b2ecc;
    border-radius: 29.0px;
  }
}

.card__value {
    float: right;
    width: 57%;
    padding-left: 10px;
}

.header__navbar_widget {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  padding-top: 4rem;
  max-width: 120rem;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  left: 60%;
  transform: translateX(-57%) translateY(-100%);
  top: 6rem;
  background-color: #fff;
}

.header-mobile {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  a.header-mobile__logo {
    max-width: 200px;
    width: 100%;
  }
  &__link {
    color: #07060f;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    /* Text style for "О нас   ," */
    letter-spacing: 0.7px;
  }
  &__join {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #07060f;
    font-family: "Roboto - Black";
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    /* Text style for "Личный каб" */
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    .icon_man {
      width: 20px;
      height: 21px;
      stroke: #000;
      margin-right: 2rem;
    }

  }
  &__link {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &_column {
    background-color: #f8f8f8;
    overflow: auto;
    height: 100vh;
  }
  &__catalog {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    padding-left: 4rem;
    font-family: "Roboto - Black";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    a {
      color: #07060f;
    }
    .burger {
      top: 50%;
      left: 0.7rem;
      transform: translateY(-50%);
    }
    &:before {
      content: '';
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4.5px 0 4.5px 8px;
      border-color: transparent transparent transparent #21242a;
    }
  }
  .hamburger {
    margin-left: 2.2em;
  }

  .header_icons {
    display: flex;
    align-items: center;
  }
}

.header-mobile__head {
  .hamburger {
    margin-right: 2.2rem;
  }
}


.header__navbar_navigation {
  position: relative;
  .button {
    .btn_blue {
      margin-right: 7rem;
    }
  }
  .header_basket {
    margin-right: 3rem;
  }
}

.product-list {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.icon_basket-blue {
  width: 22px;
  height: 22px;
  fill: #1b2ecc
}

.catalog__item_imgae img{
  width: 100%;
}
.header__navbar_navigation {
  z-index: 2;
}

.product-list_col {
  min-height: 47.5rem;
  width: 25%;
  border-right: 1px solid #f0f0f0;
}

.product-list {
  border: 1px solid #f0f0f0;
  border-top: none;
}

.icon_man {
  stroke: #000;
  width: 1.8rem;
  height: 1.9rem;
}


.icon_loop {
width: 1.8rem;
height: 1.8rem;
}

.icon_star {
  width: 2.2rem;
  fill: #fff;
  height: 2rem;
}

.catalog__item_basket:hover {
  background-color: lighten(#1b2ecc, 10%);
}

.icon_star.active {
  fill: #0022a3;
}

.catalog__item {
  position: relative;
}

.catalog_star {
  top: 2rem;
  left: 2rem;
  position: absolute;
}

.catalog_star {
  cursor: pointer;
}

.header-dark {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  text-align: center;
  background-color: #000;
  a {
    line-height: 1;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
  }
}

.crumbs {
  padding-top: 3rem;
  a {
    color: #787878;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-flex;
    position: relative;
    margin-right: 3rem;
    &:before {
      position: absolute;
      content: '';
      right: -2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      background-color:#23b9e2;
    }
    &:last-child {
      color: #b0afaf;
      pointer-events: none;
      &:before {
        display: none;
      }
    }
  }
}

#map {
  height: 71.7rem;
  width: 100%;
}

.catalog_star {
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.catalog_star.active {
  .icon_star {
    fill:  #1b2ecc;
  }
}

.favorites__btn {
  display: inline-flex;
  margin-top: 2.43rem;
}

.main_gray {
  background-color: #f8f8f8;
}

.favorite {
  
  &_offset {
    padding-top: 5.5rem;
    padding-bottom: 11rem;
  }
  &__row {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_link {
    display: flex;
    align-items: center;
    color: #07060f;
    font-family: "Roboto - Black";
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.07rem;
    .circle {
      margin-left: 1rem;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: #1b2ecc;
      position: relative;
      &:before {
        content: '';
        height: 1rem;
        border-left: 2px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &:after {
        content: '';
        height: 1rem;
        border-right: 2px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.map-content {
  position: relative;
}

.map-content__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1b1b1b;
}

.map-content__subtitle {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
}

.map-content__phone {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 700;
}

.map-content__widget {
  padding-top: 5rem;
  padding-left: 7rem;
  border-left: 5px solid #1b2ecc;
  padding-right: 10rem;
  padding-bottom: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  left: 56%;
}

.contact_offset {
  padding-top: 6rem;
  padding-bottom: 4rem;
}


.registration {
  min-height: 78.2rem;
  display: flex;
}

.registration_col {
  width: 50%;
  position: relative;
}

.registration__item_img {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + ((100vw - 203%)/2));
  height: 100%;
}

.label_default {
  color: #8d8f92;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: -0.5rem;
}

.registration {
  &__image {
    height: 100%;
    position: relative;
    overflow: hidden;
    .images_four {
      right: -8% !important;
      bottom: -20% !important;
      left: auto !important;
      top: auto !important;
    }
    .image_one {
      top: 23% !important;
      left: 30% !important;
    }
    .image_two {
      top: auto !important;
      left: 5% !important;
      bottom: -14% !important;
    }
    .image_three {
      top: 18% !important;
      left: auto !important;
      right: 10% !important;
    }
    .image_logo {
      position: absolute;
      top: 5% !important;
      left: 5% !important;
    }
  }
  &__content {
    max-width: 53.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__title {
    text-align: center;
    color: #19202e;
    font-family: "Roboto - Black";
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  &__subtitle {
    margin-bottom: 2.5rem;
    color: #07060f;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.08rem;
    p {
      margin: 0;
    }
  }
  &__item {
    .input_default {
      margin-top: 1rem;
      background-color: #fbfbfb;
      padding-left: 2rem;
      padding-right: 2rem;
      outline: none;
      &:focus {
        border-color: #1b2ecc;
      }
    }
  }
}

.popup__content_subtitle {
  color: #090909;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
}


.popup__content_title {
  color: #07060f;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.registration__btn {
  text-align: center;
  margin-top: 2rem;
}

.image_one {
  position: absolute;
  top: -3%!important;
  left: 15% !important;
}
.slider__image{
  height: 100%;
}
.image_three{
  position: absolute;
  top:auto!important;
  bottom:-4%;
}

.image_two {
  top: 14% !important;
  left: -8% !important;
}

.images_six {
  top: auto !important;
  bottom: -10% !important;
  right: 15% !important;
  left: auto !important;
}

.images_five {
  top: -10% !important;
  left: auto !important;
  right: 0 !important;
}

.images_four {
  top: 25% !important;
  left: 25% !important;
}

.wrapper_center {
  height: 100%;
}

.internal__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.conditions__title {
  color: #171717;
  font-size: 2rem;
  font-weight: 700;
}

.conditions__subtitle {
  color: #090909;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 3rem;
}

.conditions__list {
  padding-left: 2rem;
  li {
    list-style-type: none;
    position: relative;
    line-height: 3rem;
    margin-bottom: 2rem;
    &:before {
      position: absolute;
      content: '';
      height: 0.7rem;
      transform: rotate(-45deg);
      left: -1.8rem;
      top: 1.3rem;
      border-left: 2px solid #28acdf;
    }
    &:after {
      top: 0.7rem;
      position: absolute;
      content: '';
      height: 1.4rem;
      transform: rotate(45deg);
      left: -1.2rem;
      border-left: 2px solid #28acdf;
    }
  }
}

.conditions_offset {
  padding-top: 8rem;
  padding-bottom: 7rem;
}

.conditions__subtitle_width {
  max-width: 64.2rem;
  width: 100%;
}

.about-map {
  height: 42.5rem !important;
}

.icon_money {
  width: 3.9rem;
height: 3.9rem;
  fill: linear-gradient(to top, #00cfff 0%, #1b2ecc 100%);
}

.message img {
width: 13rem;
    height: 4.8rem;
}

.profitably__circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 7.9rem;
  height: 7.9rem;
  background-color: #ffffff;
}
.idea img {
  width: 4rem;
  height: 4rem;
}

.internal-title {
  max-width: 92.5rem;
  width: 100%;
}

.product-slider {
  /* the slides */
  .slick-slide {
      margin: 0 10px;
  }
  /* the parent */
  .slick-list {
      margin: 0 -10px;
  }
  &__title {
    color: #171717;
    font-family: "Roboto - Black";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1rem;
    line-height: 1;
  }
}



.work__item {
  display: flex;
  align-items: center;
  .circle {
    flex-shrink: 0;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    font-size: 2.4rem;
    font-weight: 700;
    width: 5.5rem;
    border-radius: 50%;
    height: 5.5rem;
    border: 0.2rem solid #e8e8e8;
    transition: all 0.5s ease;
  }
}

.work {
  background-size: cover;
  &_offset {
    padding-top: 11rem;
    padding-bottom: 10rem;
  }
  &__titel {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 6rem;
  }
  &__text {
    max-width: 31.9rem;
    width: 100%;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    transition: all 0.5s ease;
    p {
      margin: 0;
    }
  }
}
.work__item:hover {
  .work__text {
    color: #28acdf;
    transition: all 0.5s ease;
  }
  .circle {
    color: #28acdf;
    border-color: #28acdf;
    transition: all 0.5s ease;
  }
}

.internal-bg {
  background-size: cover;
}

.profitably__head {
  margin-bottom: 5.5rem;
}

.profitably_offset {
  padding-top: 8rem;
  padding-bottom: 9rem;
}

.pillows img {
    width: 8rem;
    height: 4.9rem;
}

.money img {
  width: 3.9rem;
  height: 3.9rem;
}

.profitably__subtitle {
  margin-top: 2rem;
  margin-bottom: 0;
}

.profitably__title {
  line-height: 1;
  color: #1b2ecc;
  font-family: "Roboto - Black";
  font-size: 2.2rem;
  margin: 0;
  font-weight: 400;
}

.benefit {
  background-color: #f3f3f3;
}

.benefit_offset {
  padding-top: 8rem;
  padding-bottom: 7rem;
}

.toggler.active {
  .benefit__link {
    color: #1b2ecc;
    &:before {
      transform: rotate(180deg) translateY(50%);
      border-color: #1b2ecc transparent transparent transparent;
    }
  }
}
.benefit__list {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.benefit__text {
  color: #171717;
  font-family: Roboto;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.8rem;
  padding-left: 3rem;
}

.benefit__link {
  color: #171717;
  padding-left: 7rem;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 3rem;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    border-style: solid;
    border-width: 8px 7.5px 0 7.5px;
    border-color: #dcdcdc transparent transparent transparent;
  }
}

.header_star {
  position: relative;
  .circle {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    right: -1rem;
    top: -1.5rem;
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background-color: #28acdf;
  }
}

.registration__form {
  .btn_blue {
    width: 100%;
    text-transform: inherit;
  }
}

.internal__center {
    position: relative;
    overflow: hidden;
}

.wrapper_large {
  z-index: 2;
}



.product__img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  .image_one {
    top: -8rem !important;
    bottom: auto;
    position: absolute !important;
    right: 1% !important;
    left: auto !important;
  }
  .image_two {
    position: absolute;
    top: 20% !important;
    left: 41% !important;
  }
  .images_four {
    position: absolute;
    left: auto !important;
    top: 44% !important;
    right: -18%;
  }
  .image_three {
    top: 11% !important;
    right: -25%;
    bottom: AUTO;
    left: auto !important;
    position: absolute !important;
  }
}