@media (max-width: 1550px) {
  .slider__item_wrapper {
    margin-left: 3rem;
  }
  .slider__item {
    min-height: 690px;
  }
  .slider__item_title {
    font-size: 5.5rem;
    margin-bottom: 1rem;
  }
  .slider__item_title:before {
    top: -5rem;
  }
}

@media(max-width: 1350px) {
  .catalog__tabs {
    display: none;
  }
  .catalog__select {
    display: block;
  }
}

@media (max-width: 1200px) {
  .catalog__item_imgae img {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .catalog__item_imgae {
    height: 420px;
  }
  .catalog__item {
    margin-bottom: 2rem;
  }
}

@media (max-width: 990px) {
  .header {
    display: none;
  }
}