@media (max-width: 1850px) {
  .content__section {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
  }
}

@media (max-width: 1820px) {
  .content__section-lk {
    max-width: 1130px !important;
    padding-right: 9rem !important;
    padding-left: 2rem !important;
  }
}

@media(max-width: 1800px) {
  .page__sidebar {
    width: 48rem;
  }
  .page__content {
    width: calc(100% - 48rem);
  }
}

@media (max-width: 1750px) {
  .product__img {
    .image_one {
      width: 40%;
    }
    .image_two {
      width: 25%;
      left: 51%;
    }
    .images_four {
      width: 40%;
    }
    .image_three {
      width: 35%;
      top: 7% !important;
    }
  }
}

@media (max-width: 1700px) {
  .page__sidebar {
    padding-right: 5.5%;
  }
  .content__section {
    margin-left: auto;
  }
}
@media (max-width: 1650px) {
  .content__section-lk {
    max-width: 1130px !important;
    padding-right: 9rem !important;
  }
    .registration {
    &__image {
      .images_four {
        width: auto !important;
      }
      .image_one {
        width: auto !important;
      }
      .image_two {
        width: auto !important;
      }
      .image_three {
        width: auto !important;
      }
      .image_logo {
        width: auto !important;
      }
    }
  }

  .image_one {
    width: 20%;
  }

  .images_five {
    width: 50%;
  }
  .image_two {
    width: 25%;
  }
  .images_four {
    width: 25%;
  }
  .images_six {
    width: 50%;
  }
  .image_three {
    width: 30%;
  }
}
@media(max-width: 1600px) {
  .content__section-lk {
    padding-right: 4rem !important;
  }
  .page__sidebar {
    width: 38rem;
    padding-right: 2.5%;
  }
  .page__content {
    width: calc(100% - 38rem);
  }
}



@media (max-width: 1550px) {
  .slider__item_wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .slider__item {
    min-height: 690px;
  }
  .slider__item_title {
    font-size: 5.5rem;
    margin-bottom: 1rem;
  }
  .slider__item_title:before {
    top: -5rem;
  }
}

@media (max-width: 1550px) {
  .internal-bg {
    background-position: center;
  }
}

@media(max-width: 1500px) {
  .header__navbar_navigation .button .btn_blue {
    margin-right: 4rem;
  }
  .page__sidebar {
      width: 35rem;
      padding-right: 3.5%;
  }
  .page__content {
    width: calc(100% - 35rem);
  }
}

@media (max-width: 1450px) {
  .catalog__sidebar {
    padding: 2rem;
  }
  .catalog__title {
    margin-bottom: 2rem;
  }
    .registration__content {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .registration {
    &__image {
      .images_four {
        width: 73% !important;
      }
      .image_one {
        width: 20% !important;
        top: 34% !important;
      }
      .image_two {
        width: 20% !important;
      }
      .image_three {
        width: 20% !important;
        top: 28% !important;
      }
      .image_logo {
      }
    }
  }
  .registration {
    min-height: 65.2rem;
  }
  .content__section {
    padding-right: 2rem;
  }
  .content__box {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .header__navbar_navigation .button .btn_blue {
    margin-right: 2rem;
  }
  .content__section {
    padding-top: 5rem;
  }
  .page__sidebar {
    padding-top: 6rem;
  }

  .content__section {
    .title_offset-bottom {
      margin-bottom: 3rem;
    }
  }
  .lk-card__subtitle {
    padding-bottom: 2rem;
  }
  .header_icons {
    .header_basket {
      margin-right: 1.5rem;
    }
  }
  
  .page__content {
    width: calc(100% - 34rem);
  }

  .page__sidebar {
    width: 34rem;
    padding-right: 3.5%;
  }

}

@media(max-width: 1420px) {
  .basket__table_list {
    .list-product {
      margin-right: 1rem;
    }
  }
  .content__project_list .name {
    max-width: 43.9rem;
  }
  .content__project_box {
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
  .content__project_button .holder_row {
    margin-bottom: 2rem;
  }
  .content__project_button .btn_blue {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
  .content__project_offset-bottom {
      margin-bottom: 2rem;
  }
}

@media (max-width: 1400px) {
  .card__value {
    width: auto;
  }
  .header__navbar_widget {
    max-width: 100%;
    left: 0;
    transform: translateX(-100%);
  }
  .header__navbar_widget.active {
    transform: translateX(0) translateY(0);
  }
}

@media (max-width: 1380px) {
  .slider__item_title {
    max-width: 100%;
  }
}

@media(max-width: 1350px) {
  .lk__item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .lk__content {
    flex-wrap: wrap;
  }
  .content__box_row {
    .content__box_item {
      &:nth-child(9) {
        display: none;
      }
    }
  }
}

@media (max-width: 1330px) {
  .header__navbar_navigation .button .btn_blue {
    margin-right: 0;
  }
  .header__navbar_navigation {
    justify-content: space-between;
  }
  .header__list {
    margin-left: 0;
  }
}

@media(max-width: 1300px) {
  .content__box_row {
    .content__box_item {
      &:nth-child(8) {
        display: none;
      }
    }
  }
}

@media (max-width: 1250px) {
  .catalog__sidebar_list .catalog__sidebar_link {
    font-size: 1.6rem;
  }
  .catalog__sidebar_item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .catalog__sidebar_box {
    padding-left: 0;
  }
  .slider__item {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  ul.slick-dots {
    left: 4%;
    transform: translateX(-4%);
  }
}

@media(max-width: 1350px) {
  .catalog__tabs {
    display: none;
  }
  .catalog__select {
    display: block;
  }
  .header__navbar_navigation .button .btn_blue {
    margin-right: 2rem;
  }
}

@media(max-width: 1290px) {
  .catalog__item_footer {
    padding: 2rem 2.6rem 2rem 2.6rem;
  }
  .catalog__item_subtitl {
    font-size: 1.8rem;
  }
  .catalog__item_price {
    font-size: 2rem;
  }

  .catalog__item_basket {
    width: 45px;
    height: 45px;
  }
  .icon_basket {
    width: 19px;
    height: 15px;
  }

  .header__navbar_link:first-child {
    margin-left: 5rem;
  }
  .button_border {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .btn {
        padding: 1.3rem 1.5rem 1.3rem 1.6rem;
  }
}

@media (max-width: 1200px) {
  .card-product__title {
    font-size: 2.8rem;
  }
  .card-product_offset {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
  .card__content_price {
    font-size: 2.6rem;
  }
  .card__content_title {
    font-size: 3rem;
  }
  .card-slider-content {
    margin-top: 7rem;
  }
  .card__content {
    margin-top: 2.5rem;
  }
  .basket__table_list {
    .basket__table-cell {
      &:nth-child(2) {
        width: 35%;
      }
    }
  }

  .map-content_offset {
    margin-top: 5.5rem;
  }

  .card__content_row {
    margin-top: 3rem;
  }
  .card__content_subtitle {
    max-width: 100%;
    margin-top: 2rem;
  }
  .assessment__title {
    font-size: 3rem;
  }
  .catalog__sidebar_list .circle {
    flex-shrink: 0;
    margin-right: 1.2rem;
  }
  .catalog__item_imgae {
    display: block;
    width: 100%;
  }
  .catalog__item_imgae img {
    width: 100%;
    height: 100%;
  }
  .catalog__sidebar_list .catalog__sidebar_link {
    line-height: 1.2;
  }
  .popup__content__head {
    font-size: 2.8rem;
    line-height: 1.2;
  }
  .registration__mobile_col {
    display: none;
  }
  .registration_col {
    width: 100%;
  }
  .registration__content {
    margin-left: auto;
    margin-right: auto;
  }
  .internal-height {
    min-height: 62rem;
    background-size: cover;
  }
  .burger {
    left: -3.5rem;
  }
  .header__logo {
    img {
      width: 90%;
    }
  }
  .catalog__item_imgae img {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .catalog__item {
    margin-bottom: 2rem;
  }
  .catalog__content .catalog__item_imgae {
    font-size: 0;
  }
  .catalog__item_imgae {
    height: 300px;
  }

  .catalog__content {
    .catalog__item_imgae {
      height: 100%;
      img {
              margin-top: -3rem;
      }
    }
  }
  .header__navbar_link {
    font-size: 12px;
  }
  .header__navbar_link:first-child {
    margin-left: 2rem;
  }
}

@media(max-width: 1180px) {
  .basket__table_list {
    .list-name {
      margin-right: 1rem;
    }
  }
  .content__box_row {
    .content__box_item {
      &:nth-child(7) {
        display: none;
      }
    }
  }
}

@media (max-width: 1190px) {
  .content__project_row {
    align-items: flex-start;
  }
  .content__project_row-wrap {
    flex-direction: column;
  }
  .content__project_button {
    justify-content: flex-start;
  }
  .content__project_button .holder_row {
    justify-content: flex-start;
  }
}

@media (max-width: 1170px) {
  .header__dropdown_link {
    padding-right: 5rem;
  }
  .header__dropdown_link {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .product-list_col {
    min-height: 32.5rem;
  }
}

@media(max-width: 1160px) {
  .header__navbar_navigation .button .btn_blue {
    margin-right: 0rem;
  }
  .header__navbar_navigation {
    justify-content: space-between;
  }
}

@media(max-width: 1150px) {
  .content__project_list .name {
    max-width: 27.9rem;
  }
}

@media (max-width: 1120px) {
  .header__list {
    margin-left: 0;
  }
  .header__navbar_navigation {
    justify-content: space-between;
  }
}

@media(max-width: 1100px) {

  .basket__table-cell {
    padding-left: 0;
    padding-right: 0;
  }
  .basket__table  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .content__box_row {
    .content__box_item {
      &:nth-child(6) {
        display: none;
      }
    }
  }
  .page__sidebar {
    width: 32rem;
  }
  .page__content {
    width: calc(100% - 32rem);
  }
}

@media (max-width: 1070px) {
  .icon_man {
    width: 1.5rem;
    height: 1.5rem;
  }
  .icon_loop {
    width: 1.5rem;
    height: 1.5rem;
  }
  .button_border {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .header__navbar_link  {
    font-size: 12px;
  }
  .btn {
    font-size: 13px;
    padding: 1.3rem 1.2rem 1.3rem 1.2rem;
  }
}

@media (max-width: 991px) {

  .card-slider-nav {
    margin-top: 2rem;
  }

  .card-product__title {
    font-size: 2.5rem;
  }

  .card-product__title {
    margin-bottom: 2rem;
  }

  .card__content_title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .sidebar__content {
    padding-top: 13rem;
    height: 100%;
    overflow-y: auto;
  }

  .profitably__title {
    font-size: 2rem;
  }

  .registration {
    min-height: auto;
  }

  .registration__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .favorite_offset {
    padding-bottom: 4rem;
  }
  .favorites__btn {
    .btn_size {
      padding: 1.4rem 3rem 1.4rem 3rem !important;
    }
  }
  .favorite__row {
    margin-bottom: 2.5rem;
    .title {
      margin-bottom: 0;
    }
  }
  .favorite_offset {
    padding-top: 3.5rem;
  }
  .favorite_link .circle {
    flex-shrink: 0;
  }
  #map {
    height: 45.5rem;
  }
  .catalog__item_price span {
    font-size: 2rem;
  }
  .thing__item_list {
    margin-bottom: 0rem;
    line-height: 1;
  }
  .thing__item_title {
    font-size: 2rem;
  }
  .thing__item {
    margin-bottom: 1.5rem;
  }
  .assessment__title {
    font-size: 2.7rem;
  }
  .assessment__subtitle {
    font-size: 2rem;
  }
  .header__navbar_widget {
    display: none;
  }
  .footer__list {
    margin-top: 1rem;
  }
  .footer__row {
    margin-bottom: 1rem;
  }
  .wf_height {
    justify-content: flex-start;
  }
  .catalog__title_list {
    margin-bottom: 2rem !important;
    .title {
      margin-bottom: 0;
    }
  }
  .catalog__title {
    font-size: 1.8rem;
  }
  .catalog__sidebar.active {
    .catalog__sidebar_mob {
      .circle {
        transform: rotate(90deg);
      }
    }
  }
  .catalog__pagination {
    margin-bottom: 3rem;
  }
  .catalog__pagination .circle {
    flex-shrink: 0;
  }
  .catalog__pagination .catalog__number a {
    margin-right: 1.5rem;
  }
  .catalog__number span {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .catalog__item_footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .catalog_offset {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .catalog__sidebar  {
    margin-bottom: 2rem;

  }
  .crumbs_offset {
    padding-top: 0;
  }
  .catalog__navigation_checkbox .form__checkbox {
    margin-right: 3rem;
  }
  .catalog__sidebar_mob {
    .circle {
      display: block;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .togglers__content {
    display: none;
  }
  .catalog__title {
    margin-bottom: 0;
  }
  .catalog__sidebar_navbar {
    margin-top: 2rem;
  }
  .popup__content__head {
    font-size: 2.2rem;
  }
  .politics_offset {
    padding-bottom: 6rem;
  }
  .benefit_offset {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .section_reviews-offset {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .error_offset {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .error__text span {
    font-size: 18.4rem;
  }
  .error__text img {
    width: 45%;
  }
  .popup__content_subtitle {
    margin-bottom: 2rem;
  }
  .popup__content_text {
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
  .content__section-lk {
    padding-right: 0.5rem !important;
  }
  .lk__item {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .lk-offset {
    padding-left: 3rem;
  }
  .header_star .circle {
    top: -1rem;
    right: -0.8rem;
  }
  .registration__title {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .basket__item {
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    .baket__head {
      margin-right: 0;
    }
    .basket__sub {
      line-height: 1;
    }
  }
  .basket-mobile__list .list-product {
    width: 60%;
  }
  .basket-mobile__list .list-product_bold {
    font-size: 1.6rem;
    width: 60%;
  }
  .basket-mobile__item {
    margin: 0.5rem;
  }
  .basket-mobile__item {
    width: 48%;
  }
  .basket-mobile {
    display: flex;
  }
  .basket__table {
    display: none;
  }
  .content-request__title {
    font-size: 1.8rem;
  }
  .section-request__title {
    font-size: 2.8rem;
    margin: 0;
  }
  .section-request {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .section-request__center {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section-request__title {
    line-height: 1;
    margin-bottom: 2rem;
  }
  .content-request__col_center {
    align-items: flex-start;
  }
  .content-request__images {
    margin-bottom: 2rem;
  }
  .page__content {
    padding-bottom: 3rem;
  }
  .page-wrapper:before {
    display: none;
  }
  .content__box_numbers .dark {
    font-size: 1.7rem;
  }
  .content__box_numbers .gray {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sidebar__trigger {
    display: block;
  }
  .page__sidebar {
    padding-top: 0;
  }
  .content__section {
    padding-left: 5.1rem;
    padding-top: 2.5rem;
  }
  .content__section .title_offset-bottom {
    margin-bottom: 2rem;
  }
  .content__box {
    padding-bottom: 2rem;
  }
  .content__box_border {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .sidebar.page__sidebar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    transform: translateX(-100%);
  }
  .page__content {
    width: 100%;
  }
  .politics__text {
    font-size: 1.6rem;
  }
  .politics__title {
    font-size: 2rem;
  }
  .politics_offset {
    padding-top: 3rem;
  }
  .politics__content {
    margin-top: 3rem;
  }
  .work__titel  {
    line-height: 1;
    font-size: 2.5rem;
  }
  .work__text {
    font-size: 1.6rem;
  }
  .benefit__link {
    padding-left: 5rem;
  }
  .benefit__link:before {
    left: 0;
  }
  .benefit__text {
    padding-left: 0;
  }
  .benefit__list {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .work__item {
    margin-bottom: 2rem;
  }
  .work__text {
    max-width: 100%;
  }
  .work_offset {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .work__titel {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .profitably__head {
    margin-bottom: 3rem !important;
  }
  .profitably__item {
    margin-bottom: 2rem;
  }
  .profitably_offset {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .map-content__title {
    margin-top: 0;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .map-content__widget {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
  .map-content__title {
    margin-bottom: 1rem;
  }
  .conditions__subtitle p {
    &:first-child {
      margin-top: 0;
    }
  }
  .conditions__subtitle {
    margin-bottom: 3rem;
  }
  .conditions__list {
    margin-top: 0;
    margin-bottom: 0;
  }
  .conditions_offset {
      padding-top: 4rem;
      padding-bottom: 3rem;
  }
  .conditions__subtitle_width {
    max-width: 100%;
  }
  .conditions__title {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
  .header-dark {
    margin-top: 10rem;
  }
  .map-content__widget {
    position: relative;
    left: 0;
    transform: translateY(0);
    top: 0;
  }
  .about-map {
    height: 20rem !important;
  }
  .internal-height {
    min-height: 45rem;
  }
  .internal-title {
    font-size: 4rem;
    line-height: 1.2;
    margin-top: 1rem;
  }
  .assessment__title {
    text-align: center;
    line-height: 1.2;
  }
  .assessment__button {
    margin-top: 3rem;
  }
  .section__thing_offset {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .title_offset-bottom {
    margin-bottom: 3rem;
  }
  .section_catalog {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .section_assessment {
    min-height: 350px;
  }
  .footer__list {
    justify-content: flex-start;
    .footer__navbar {
      margin-right: 2rem;
    }
  }
  .slider-index {
    margin-top: 10rem;
  }
  .footer_offset {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer_offset_bottom {
    margin-bottom: 3rem !important;
  }
  .footer__logo img {
    display: none;
  }
  .header_icons .header_basket {
    margin-right: 2.2rem;
  }
  .header-mobile {
    display: block;
  }
  .catalog__item_imgae {
    height: auto;
  }
  .slider__item_title {
    line-height: 1;
  }
  .slider__item {
    min-height: 490px;
  }
  .slider__item_title  {
    font-size: 4.5rem;
    margin-top: 0;
  }
  .slider__item_title:before {
    top: -2rem;
}
  .header {
    display: none;
  }
  .slider__image {
    top: auto;
    right: 0;
  }
}

@media (max-width: 780px) {

  .image_one {
    width: 30%;
  }

  .images_five {
    width: 60%;
  }
  .image_two {
    width: 35%;
  }
  .images_four {
    width: 35%;
  }
  .images_six {
    width: 60%;
  }
  .image_three {
    width: 40%;
    bottom: -5%;
    left: -15% !important;
  }
}

@media (max-width: 760px) {
  .basket-mobile__item {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 750px) {

  .catalog__navigation {
    display: flex;
    flex-direction: column;
  }

  .catalog__navigation_checkbox {
    margin-bottom: 2rem;
  }

  .product__img .image_one {
    top: -2rem !important;
  }

  .content-mobile {
    display: block;
  }
  .content__project_box {
    display: none;
  }
  .projects__item_top {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .offset-row_top {
    margin-top: 2rem;
  }
  .projects__item_name {
    font-size: 1.6rem;
  }
  .catalog__item_imgae {
    height: 100% !important;
  }
  .catalog__item_subtitl {
    margin-bottom: 0;
  }
}

@media(max-width: 725px) {
  .basket__footer {
    display: flex;
    flex-direction: column;
    .basket__buttons {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 700px) {
  .slider__item_title {
    font-size: 4rem;
    line-height: 1;
  }
  .content__box_row {
    .content__box_item {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}

@media (max-width: 680px) {
  .slider__item_wrapper {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .content-request__item {
    padding: 2rem 2.5rem;
  }
  .content-request__title {
    margin-bottom: 1.2rem;
  }
  .content-request__text p {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .registration__subtitle {
    margin-bottom: 1rem;
  }
  .registration__title {
    font-size: 2.8rem;
  }
  .registration__item {
    margin-bottom: 1rem;
  }
  .registration__item .input_default {
    margin-top: 0.5rem;
  }
  .registration__btn {
    margin-top: 3rem;
  }
}

@media (max-width: 620px) {
  .registration__btn {
    flex-direction: column;
    align-items: flex-start;
    .btn {
      margin-top: 1.5rem; 
    }
  }
}

@media (max-width: 610px) {
  .content__box_list-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content__box_numbers {
    flex-direction: column;
    align-items: flex-start;
    .dark {
      margin-bottom: 1rem;
    }
    .gray {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .card__content_price {
    font-size: 2.2rem;
  }
  .card__list {
    margin-bottom: 1.5rem;
  }
  .card__prop, .card__value {
    font-size: 1.4rem;
  }
  .card-slider-content {
    margin-top: 4rem;
  }
  .content-request__row {
    flex-direction: column;
  }
  .content-request_number {
    margin-bottom: 1rem;
  }
  .content-request_link .gray {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .internal-title {
    font-size: 3rem;
    line-height: 1.2;
  }
  .footer__content_offset-top {
    margin-top: 0;
  }
  #map {
    height: 25.5rem;
  }
  .assessment__subtitle {
    text-align: center;
  }
  .catalog__item_imgae {
    font-size: 0;
  }
  .catalog__title_list {
    .title {
      margin-bottom: 1.5rem;
    }
  }
  .reviews-slider__item {
    padding: 2rem;
  }
  .benefit__list {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section_assessment {
    min-height: 300px !important;
  }
  .section_assessment {
    font-size: 3rem;
  }
  .work__titel {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .work_offset {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .work__item .circle {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
  }
  .arrow-r {
    width: 35px;
    height: 35px;
    &:after {
      top: 58%;
      right: 37%;
      width: 9px;
      height: 9px;
      transform: rotate(-45deg) translateX(50%) translateY(-50%);
    }
  }
  .arrow-l {
    width: 35px;
    height: 35px;
    &:before {
      top: 57%;
      left: 37%;
    }
  }
  .reviews__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .reviews__right {
    justify-content: flex-start;
    margin-top: 1.5rem;
  }
  .error__text span {
    font-size: 13.4rem;
  }
  .popup__content_image .slick-prev {
    width: 3.6rem;
    height: 3.6rem;
    &:before {
      width: .8rem;
      height: 0.8rem;
    }
  }
  .popup__content_image .slick-next {
    width: 3.6rem;
    height: 3.6rem;
    &:before {
      width: .8rem;
      height: 0.8rem;
    }
  }

   
  .popup__content_subtitle {
    font-size: 1.6rem;
  }
  .popup__content_text {
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .lk__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .lk__title_border {
    padding-bottom: 1.5rem;
  }
  .content__section .title_offset-bottom {
    font-size: 2.2rem;
  }
  .section-request__title {
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .content-request__list {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }
  .content-request__phone {
    margin-bottom: 1.5rem;
  }
  .politics__content {
    margin-top: 2rem;
  }
  .politics__list li {
    font-size: 1.6rem;
  }
  .title {
    font-size: 2.2rem;
    line-height: 1.3;
  }
  .profitably__head {
    margin-bottom: 2rem !important;
  }
  .profitably__circle {
    margin-bottom: 1rem;
  }
  .profitably_offset {
    padding-bottom: 3rem;
  }
  .map-content__widget {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .map-content__title {
    margin-bottom: 0;
  }
  .map-content__subtitle {
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }


  .map-content__title {
    font-size: 2rem;
  }

  .map-content__subtitle {
    line-height: 1.3;
  }
  .internal-height {
    min-height: 30rem;
  }

  .conditions__list li {
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .internal {
    .crumbs {
      padding-top: 0;
    }
  }

  .section_assessment {
    min-height: 400px;
  }
  .slider__item {
    min-height: 350px;
  }
  ul.slick-dots {
    bottom: 0;
  }
  .wrapper_large {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slider__item_title {
    font-size: 2rem;
  }
  .slider__item_subtitle {
    font-size: 16px;
  }
  .catalog__title_list {
    flex-wrap: wrap;
    .catalog__select {
      width: 100%;
    }
  }
  .catalog__item_imgae {
    height: 460px !important;
  }
  ul.slick-dots {
    bottom: 1.5rem;
  }
}

@media (max-width: 560px) {
  .content__box_row {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .holder_row {
    flex-wrap: wrap;
  }
  .content__box_item {
    width: 25%;
    margin-bottom: 1.5rem;
  }
  .content__box_border {
    padding-bottom: 0;
  }
  .content__box {
    padding-right: 1rem;
    padding-left: 1.5rem;
  }
}

@media(max-width: 520px) {
  .content__project_row {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    .title {
      font-size: 2.2rem;
    }
  }
  .content__project_offset-bottom {
    margin-bottom: 1rem;
  }
  .content__project_link {
    margin-top: 1rem;
  }
  .footer__list {
    flex-direction: column;
    .footer__navbar {
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .header-dark a {
    font-size: 1.3rem;
  }
  .header-dark {
    line-height: 1;
  }
  .content__box_item {
    width: 33%;
    width: 8.6rem !important;
    height: 8.6rem;
  }

  .content-request_number {
    margin-bottom: 0;
  }

  .content-request__item {
    padding: 2rem;
  } 

  .content-request__phone {
    display: flex;
    white-space: nowrap;
  }

  .content-request__row {
    display: flex;
    flex-direction: column;
  }
  
}

@media (max-width: 470px) {
  .benefit__link {
    display: block;
    padding-left: 3rem;
    line-height: 1.2;
  }
  .benefit__list {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media(max-width: 450px) {

  .product-slider__image img {
    width: 100%;
  }
  .section-request__title {
    font-size: 2rem;
  }
  .content-request__phone a {
    margin-left: 1rem;
  }
  .content-request__phone {
    margin-bottom: 0.5rem;
  }
  .assessment__title {
    font-size: 2.5rem;
  }
  .assessment__subtitle {
      font-size: 16px;
  }
  .header-mobile .hamburger {
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
  }
  .reviews__row {
    flex-direction: column;
    .reviews__right {
      margin-top: 1.5rem;
      justify-content: flex-start;
    }
  }
  .catalog__select .select2-container--default .select2-selection--single .select2-selection__rendered {
   width: auto;
  }
  .reviews__row {
    margin-bottom: 2.5rem;
    .reviews__left .btn {
      margin-left: 1rem;
    }
    .btn {
      font-size: 1.2rem;
      padding: 1.3rem 2.5rem 1.3rem 2.5rem !important;
    }
  }
}

@media (max-width: 440px) {
  .internal-title {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .basket__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .basket__price {
      margin-bottom: 1rem;
    }
  }
  .basket__footer .basket__buttons {
    margin-top: 0;
  }
  .catalog__item_imgae {
    height: auto !important;
  }
  .slider__item {
    min-height: 260px;
  }
  .projects__item_top {
    flex-wrap: wrap;
  }
  .projects__item_offset-left {
    margin-left: 0;
    margin-top: 1rem;
  }
  .holder_row .subject {
    width: 100%;
    text-align: left;
  }
  .holder.holder_row {
    margin-bottom: 1rem;
  }
}

@media(max-width: 400px) {
  .card__content_row {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
  }
  .card__content_price {
    margin-bottom: 1rem;
  }
  .card__list {
    display: flex;
    flex-direction: column;
  }

  .card__value {
    padding-left: 0;
    margin-top: 1rem;
  }

  .content__box_row {
    justify-content: center;
  }
  .internal-title {
    font-size: 2.4rem;
  }
  .favorite__row {
    flex-direction: column;
    align-items: flex-start;
    .title {
      margin-bottom: 1rem;
    }
  }
  .footer__row {
    display: flex;
    flex-direction: column;
    .footer__list_link {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  .catalog__sidebar_box .catalog__sidebar_link {
    font-size: 1.4rem;
  }
  .catalog__navigation_checkbox {
    flex-direction: column;
    align-items: flex-start;
    .form__checkbox {
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .catalog__sidebar {
    padding: 1rem;
  }
  .catalog__navigation_sort {
    flex-wrap: wrap;
    .catalog__navigation_desc {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .error_offset {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .error__title {
    font-size: 2rem;
  }
  .error__text img {
    width: 38%;
  }
  .error__text span {
    font-size: 9.4rem;
  }
  .registration__btn {
    .btn_size {
      padding: 1.5rem 3.5rem 1.5rem 3.6rem !important;
    }
  }
  .label_default {
    font-size: 1.5rem;
  }
  .basket-mobile__item {
    padding: 1rem;
  }
  .basket-mobile__list .list-product_bold {
    font-size: 1.4rem;
  }
  .basket-mobile__list .зкщвгсе {
    font-size: 1.6rem;
  }
  .page__sidebar {
    width: 28rem;
  }
  .lk-card__list.active {
    width: 24.9rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
  .content__box_numbers .gray {
    padding-top: .6rem;
    padding-right: 1rem;
    padding-bottom: .6rem;
    padding-left: 1rem;
  }
  .content__box_list .btn_blue {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .content__box_border {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .content__box_price {
    font-size: 1.6rem;
  }
}

@media (max-width: 380px) {
  .content-request__phone {
    display: flex;
    flex-direction: column;
    a {
      margin-left: 0;
    }
    
  }
  .content-request__phone {
    margin-bottom: 1rem;
}
}

@media (max-width: 350px) {
  .header_icons {
    margin-left: 1rem;
  }
}